.cart-container {
    position: relative;
}

.cart-container > button {
    background-color: inherit;
    border: none;
    border-radius: 50%;
    min-width: 0px;
    width: 40px;
    height: 40px;
}

.cart-badge > .cart-icon {
    color: #FC9918;
    font-size: 33px;
    z-index: -1;
}

.cart-badge > .cart-icon:hover {
    transform: scale(2);
    color: green;
}

.cart-badge > span {
    background-color: #f44336;
}