.cart-page-container {
    width: 60%;
    height: 60%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
}

.cart-page-container > a > img {
    border-radius: 15px;
    width: 100%;
}