.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiMenu-paper.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation0.MuiPopover-paper.css-aqqxug-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    background-color: #09040ff6;
    -moz-box-shadow: 0 0 5px #f14a16;
    -webkit-box-shadow: 0 0 5px #f14a16;
    box-shadow: 0 0 10px #f14a16;
    border-radius: 2px;
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

div > .css-aqqxug-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper:before {
    background-color: #09040fc9;
    /* -moz-box-shadow: 0 0 5px #f14a16;
    -webkit-box-shadow: 0 0 5px #f14a16; */
    box-shadow: -6px -6px 12px #f14a16;
}

#account-menu li {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* align-content: flex-start; */
    align-items: center;
    margin-right: 10px;
}

#account-menu li div {
    margin: 10px;
}

.cart-img {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content:center;
    align-content: center;
    margin-left: 0px;
}

.cart-img img {
    width: 100%;
    height: 100%;
    margin-left: 0px;
    object-fit: contain;
}

.cart-title {
    color: #f14a16;
    font-weight:bold ;
}

.cart-qty {
    color: #f14a16;
}

.cart-remove-btn * {
    color: #f11d16;
}

.cart-divider {
    width: auto;
    background-color: #942d0d;
}

.cart-go-pay,
.cart-go-pay > button {
    background-color: transparent;
    border-style: none;
    width: 90%;
    display: flex;
    margin: 5px;
    box-sizing: border-box;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:center;
    align-content: center;
}

.cart-go-pay:hover {
    cursor: pointer;
}

.cart-go-pay * {
    width: auto;
    width: fit-content;
    border: 2px solid blue;
    background-color: blue;
    color: #f14a16;
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
    background-color: transparent;
    border-style: none;
}

.cart-menu-item:hover {
    cursor: default;
}