* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiMenu-paper.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation0.MuiPopover-paper.css-aqqxug-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    background-color: #09040fc9;
    -moz-box-shadow: 0 0 5px #f14a16;
    -webkit-box-shadow: 0 0 5px #f14a16;
    box-shadow: 0 0 10px #f14a16;
    border-radius: 2px;
    width: 250px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
}

#account-menu li {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    /* align-content: flex-start; */
    align-items: center;
}

#account-menu li div {
    margin: 10px;
}


.cart-img {
    /* border: 2px solid red; */
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content:center;
    align-content: center;
    margin-left: 0px;
}

.cart-img img {
    width: 100%;
    height: 100%;
    margin-left: 0px;
}

.cart-title {
    /* border: 2px solid red; */
    color: #f14a16;
}

.cart-qty {
    /* border: 2px solid red; */
    color: #f14a16;

}

.cart-remove-btn {
    color: #f14a16;
}

.cart-divider {
    /* border: 2px solid red; */
    background-color: #942d0d;

}

.cart-go-pay {
    display: flex;
    flex-wrap: nowrap;

    /* border: 2px solid red; */
    color: #f14a16;
    margin-right: auto;
    margin-left: 40%;

}