* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.counter-container {
    width: 70px;
    height: 30px;
    margin-right: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}


.remove-button-container, 
.add-button-container {
    background-color: #18022ccf;
    border: none;
    height: 100%;
    position: relative;
    width: 20%;
}

.remove-button-container > .remove-button, 
.add-button-container > .add-button {
    background-color: #18022ccf;
    border: none;
    height: 100%;
    min-width: 0px;
}

.star-button {
    position: absolute;
    color: #f14a16;
}

.add-button > p,
.remove-button > p {
    position: absolute;
    color: #18022ccf;
}
