* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #370665;
  opacity: 1;
  background-image: radial-gradient(circle at center center, #F14A16, #370665), repeating-radial-gradient(circle at center center, #F14A16, #F14A16, 4px, transparent 8px, transparent 4px);
  background-blend-mode: multiply;
}

.main-container {
  width: 100%;
  min-height: 90vh;
  margin-top: 20px;
  /* border: solid 1px blue; */
  display: flex;
  justify-content: center;
}
